%h3 Summary
%dl
  %dt Program:
  %dd= @blast_result.version
  %dt Database: 
  %dd nematostella_vectensis_transcriptome

%h3 Query
%dl
- if @blast_result.query_def
  %dt Def:
  %dd= @blast_result.query_def
  %dt Length:
  %dd= @blast_result.query_len

%h3 Statistics:
%dl
  - stats = @blast_result.statistics.each do |k, v|
    %dt= k + ':'
    %dd= v

%h3 Parameters:
%dl
  - params = @blast_result.parameters.each do |k, v|
    %dt= k + ':'
    %dd= v

%h3 Hits
- if @blast_result.hits.empty?
  .line No matches
- else
  - @blast_result.hits.each do |hit|
    %dl 
      %dt Accession:
      %dd= hit.accession
      %dt Definition:
      %dd= hit.definition
    - hit.hsps.each do |hsps|
      %dl
        %dt Align length:
        %dd= hsps.align_len
        %dt Bit score:
        %dd= hsps.bit_score
      %pre
        =show_alignment(hsps)
