%p 
- if @external_names.size == 0
  No results found
- else
  - num = @external_names.size > 99 ? "> %s" : "%s"
  - num = num % @external_names.size
  = "Results for '#{@term}' in #{@ortholog_name} Ortholog"
  %h4 Found #{num} items 
  - @external_names.each do |en|
    .transcript_details
      .item 
        %strong Gene:
        %a{ href: "/external_names/%s" % en.id }
          = en.gene_name
      .item
        %strong UniProt:
        %a{ href: "http://uniprot.org/uniprot/%s" % en.name, title: 'Uniprot link'}
          = "#{en.name}: #{en.functional_name}"
