%p 
- if @external_names.size == 0
  -if @term.to_s != ''
    No results found
  -else
    .search_info
      %p 
        Search term can be a UniProt Accession, Gene annotation, or Protein name. 
        For example 'polymerase alpha', 'P17918', 'Pcna' are all valid searches.
  %p 
    Found orhtolog page displays dynamics of transcription for the first 20 
    hours of emryogenesis starting from the fertilization event.
- else
  - num = @external_names.size > 99 ? "> %s" : "%s"
  - num = num % @external_names.size
  = "Results for '#{@term}' in #{@scientific_name} Ortholog"
  %h4 Found #{num} items 
  - @external_names.each do |en|
    .transcript_details
      .item 
        %strong Gene:
        %a{ href: "/external_names/%s" % en.id }
          = en.gene_name
      .item
        %strong UniProt:
        %a{ href: "http://uniprot.org/uniprot/%s" % en.name, title: 'Uniprot link'}
          = "#{en.name}: #{en.functional_name}"
